
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div class="card" style="border: 1px solid #ccc; width: 300px; padding: 20px; text-align: center; margin: 0 auto;">
        <div class="card-content" style="margin-bottom: 20px;">
            <h2 style="margin: 0;">Tên: Đặng Hoàng Lâm</h2>
            <p style="margin-top: 10px;">Mã số sinh viên: 63134410</p>
            <p>Facebook: <a target="_blank" style="margin: 0; text-decoration: none; color: black;" href="https://www.facebook.com/dhlam79">Đặng Hoàng Lâm</a></p>
        </div>
    </div>
</body>
</html>
